
/* Global styles

1 : #182b32
2:#124559
3:#1d6f80
4:#68929b
5:#eaeced



------------------------------*/
html{
box-sizing:border-box;


}

*,*:before,*:after{
    box-sizing: inherit;

}

body{
font-family: "Helvetica", sans-serif;
margin: 0;

}

a {

    color: red;
    padding: 0.4rem;;
    display: inline-block;
}

.profile-image{

    border-radius: 50%;
    
}
a:hover{
    text-decoration: none;

}

header,footer{

    background-color: #182b32;
    color:#eaeced;
}
header h1, footer h2{
    color: #eaeced;
    margin-bottom: 0;
}

header{
    padding-top: 50px;
    position: relative;

}

header p{
    margin: 0;
    line-height: 1.5;
}

footer{

    text-align: center;
}

nav{
    background: #eaeced;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom-color: #182b32;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

nav a{
    color: #182b32;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

h2{
    margin-top: 0;
    margin-bottom: 0;
}
 h1,h2{
    color:#182b32;
    font-family: "lucida handwriting",cursive,monospace;
         font-weight: 400;

}

/* work---------------
---------------*/
.work{

    background-color: #eaeced;
}


/*----------------------education
--------------*/

.education{

   /* background-color: #eaeced;*/
    background: linear-gradient(rgba(234,236,237,0.5),rgba(234,235,237,0.6)), url(su2.jpg) no-repeat;
    background-size: cover;

}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 50px;
    padding-bottom:0;
    padding-left: 50px;
    padding-right: 50px;
  overflow: hidden;
}



.btn{
    text-decoration: none;
    color: #eaeced;
    background: red;
    font-weight: 700;
    position: absolute;
    bottom:0;
    right: 0;
    overflow: hidden;

}

dt {
    font-weight: 700;

}

dd{
    margin-bottom: 20px;
}

h3~p{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.projects {
        background-color: #eaeced;
        background: linear-gradient(rgba(234,236,237,1),rgba(234,235,237,0.7)), url(projects.jpg) no-repeat;
    background-size: cover;

}


@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
    
  }
  
    header .col-narrow{
        margin-top: -50px;
        margin-bottom: 7px;
        
    }
    
    header .col-wide{
        margin-top: -25px;
    }
    .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-top: 7px;
    }
.profile-image{
width: 150px;

}

}
@media (max-width: 899px){
  header {
    text-align: center;
  }
   
    
    .profile-image {
    width: 200px;
  }
}

@media(max-width:485px){
    
    .btn{
   display: none;

    
}