html{
box-sizing:border-box;


}

*,*:before,*:after{
    box-sizing: inherit;

}

body{
font-family: 'Montserrat', sans-serif;
margin: 0;
background-color: whitesmoke;
    color:black;
}
.jumbotron{
    
    background-image: url(background.jpg) !important;
    color: azure !important;
    background-size: cover;
    height:50vw;
}

.container-fluid h1{
    margin-top: 20vw;
    color: lightgray;
}

a {
    color: lightgray!important;
    
    
}
.navbar{
    
    border: 0;
}



.aboutme{
    
    color: black;
    
}

.panel, .panel-body{
    background-color: whitesmoke;
    border:0 !important;
    
}

img{
    
    height: 300px;
    
}
#projects a{
    
    color: black!important;
    clear: both;
    
}

.clear{
    clear: both;
}

.footer{
    
    background-color: 
    black;
    color: lightgray;
}

.icons{
    font-size: 20px;
    padding: 10px;
    
}