#myDiv {
    
    background-image:url(background1.jpg);
    color: azure !important;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    
}

#contact {
        background-image:url(background1.jpg);
        color:azure;

}

.jumbotron {
    border: 0 !important;

    margin: auto;
     height: 80%;  
}

.navbar {
    border:0 !important;
}

body{
    line-height: 30px;
    
}